_build
log
tmp

erl_crash.dump
.dockerignore
.git
.gitignore
*.swp
*.swo
*.log
*.orig
*.ez
.idea
.DS_Store
selenium.log
Jenkinsfile

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md
